html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#mapid {
	width: 100%;
	height: 100%;
	background-color: #fdfdfd;
	position: static !important;
}

#ip {
    display: none;
}

.whois {
    max-height:200px;
    white-space: pre;
    overflow:scroll;
}