html, body {
    margin: 0;
    padding: 0;
    font: 1vw "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    overflow:hidden;
}

html, body, #mapid {
    height: 100%;
    width: 100vw;
}

a {
    color: #00B7FF;
}

#mapid {
	background-color: black;
	position: static !important;
}

.hidden {
    display: none;
}

.info {
    font-size: 1vw;
}

.whois {
    white-space: pre;
    font-family: 'Roboto Mono', monospace;
    background-color: #f5f5f5;
}

#search input {
    position: absolute;
    height: 36px;
    width: 300px;
    z-index: 1000;
    
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    font-size: large;
    margin-top: 1%;
}

.on {
    display:block;
}

#show {
    padding: 1vw;
    position: absolute;
    border-radius: 1vw;
    background-color:white;
    z-index: 999;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.2), 0 1.5vw 4vw 0 rgba(0, 0, 0, 0.19);
    /*transition: 1s;*/
    display: flex;
    flex-direction: column;
    border : 0.1vw solid black;
}

#show.mini {
    top: auto;
    left: 50%;
    bottom:3%;
    width: 33vw;
    max-height: 80%;
    transform: translate(-50%, -50%);
}

.mini .whois {
    font-size:50%;
}

@media (max-width : 800px) {
    #show.mini {
        top: auto;
        left: 50%;
        width: 95%;
        bottom:3%;
        transform: translate(-50%, 0%);
        max-width: 380px;
    }
}

#show.full {
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
}

.full .whois {
    font-size:80%;
}

@media (max-width : 800px) {
    #show.full {
        width: 95%;
        height: 95%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.off{
    display:none;
}

.content{
    flex: 1;
    overflow: auto;
    border-radius: 1vw;
}

.toolbar {
    display:flex;
    justify-content: flex-end;
    height: 2vw;
    font-size: 1.1vw;
}

.toolbar ip {
    flex: 1;
    font-weight: bold;
    margin: auto 0;
}

.toolbar button {
    background-color: transparent;
    border: none;
    color: grey;
    cursor: pointer;
}
.toolbar button.close {
    font-size:2vw;
}
.toolbar button:hover {
    color: #00B7FF;
}

#footer {
    position: fixed;
    bottom: 0;
    font-size: 75%;
    color: #b9b9b9;
    padding: 0;
    z-index: 500;
    box-sizing: border-box;
    line-height: 3px;
    width: 100%;
    opacity: 0.5;
}
