extends layout

block content
  div#search
    input(type='text' onchange='ui.addMarkerForIP(this.value)' placeholder="Search any IP or domain name")
  div#ip=myip
  div#zoomlevel=zoomlevel
  div#mapid
  div#show.off
    div.toolbar
      h2 
      button.minimize(onclick='document.getElementById("show").className = "mini";') 🗕
      button.maximize(onclick='document.getElementById("show").className = "full";') 🗖
      button.close(onclick='document.getElementById("show").className = "off";') ×
    div.content
      div.whois


