extends layout

block content
  div#search
    input(type='text' onchange='ui.addMarkerForIP(this.value)' placeholder="Search any IP or domain name")
  div.hidden
    div#ip=myip
    div#zoomlevel=zoomlevel
  div#mapid
  div#show.off
    include toolbar.pug
