div#show.off
    div.toolbar
        ip
        button.close(onclick='document.getElementById("show").className = "off";') ×
    div.menu
        include button/whois.pug
    div.content
        div.whois
