div.toolbar
    h2 
    button.minimize(onclick='document.getElementById("show").className = "mini";') 🗕
    button.maximize(onclick='document.getElementById("show").className = "full";') 🗖
    button.close(onclick='document.getElementById("show").className = "off";') ×
div.content
    div.whois
